.signInPage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #363538;
  font-family: "Source Sans Pro", sans-serif;
}

.signContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  border: 1px solid #00aded;
  width: 300px;
}

.signContainer p {
  color: #00aded;
}

.signInForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

#usernameInput,
#passwordInput {
  margin: 20px;
  height: 30px;
  width: 250px;
}

input[type="text"] {
  font-family: "Source Sans Pro", sans-serif;
}

#signInButton {
  width: 120px;
  margin: 15px;
  border-radius: 2px;
  border: #00aded;
  font-size: 16px;
  font-weight: 600;
  background-color: #00aded;
  color: #363538;
  cursor: pointer;
}

#signInButton:hover {
  background-color: #00adedb8;
}

#signInNewUser a {
  text-decoration: none;
  font-size: 18px;
  color: #00aded;
}

#signInNewUser a:hover {
  color: #00adedb8;
}

#demoToggle:hover {
  color: #00adedb8;
  cursor: pointer;
}

form input,
form select,
form textarea {
  margin: 5px;
  border: 1px solid #00adedb8;
  border-radius: 2px;
  font-size: 13px;
  color: #333;
}
