@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.signInPage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #efefef; /*    background: #67d8b2c7;  */
  font-family: 'Source Sans Pro', sans-serif;
}

.signContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #515258;
  border-radius: 2px; /*     border-radius: 10px; */
  width: 300px;
}

.signInForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

#usernameInput,
#passwordInput {
  margin: 20px;
  height: 30px;
  width: 250px;
}

input[type="text"] {
  font-family: 'Source Sans Pro', sans-serif;
}

#signInButton {
  width: 120px;
  margin: 15px;
  border-radius: 2px;
  border: #00aded;
  font-size: 16px;
  font-weight: 600;
  background-color: #00aded;
  color: #3f4149;
}

#signInNewUser a {
  text-decoration: none;
  font-size: 18px;
}

form input,
form select,
form textarea {
  margin: 5px;
  border: 1px solid #c1c8cc;
  border-radius: 2px;
  font-size: 13px;
  color: #333;
}

a {
  text-decoration: none;
  color: #00aded;
}

button:hover {
  color: brown;
}
