
.billingPage{
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paymentHistory, .billingPage h1{
    text-align: center;
}

.balance{
    text-align: center;
    margin:30px;
}

