.messageBox {
  border: 1px solid #00aded;
  color: #00aded;
  border-radius: 9px;
  margin: 10px;
  overflow: hidden;
}

#quickView {
  position: absolute;
  right: 20px;
  font-size: 14px;
}

#quickView:hover {
  color: #00adedb8;
}

.messageBox h4,
.messageBox h5,
.messageBox p {
  margin-left: 5px;
}
