.invoicePage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #363538;
  color: #00aded;
  font-family: "Source Sans Pro", sans-serif;
}

.invoicePage h3,
.invoicePage h4,
.invoicePage p {
  margin-left: 5px;
}

.invoicePage h1,
.invoicePage h2,
.billIsPaid h2 {
  text-align: center;
}

.billToContainer,
.billDueContainer,
.invoiceDetailsContainer,
.billIsPaid,
.makePaymentTo {
  border: 1px solid #00aded;
  border-radius: 9px;
  margin: 10px;
}

.paidStatus,
.paidDate,
.paidAmount,
.paidWith,
.invoiceDetailsMaintenance,
.invoiceDetailsWater,
.invoiceDetailsRent,
.invoiceDetailsPast,
.invoiceDetailsTotal {
  display: flex;
  align-items: baseline;
}

.paidStatus p,
.paidDate p,
.paidAmount p,
.paidWith p,
.invoiceDetailsMaintenance p,
.invoiceDetailsWater p,
.invoiceDetailsRent p,
.invoiceDetailsPast p,
.invoiceDetailsTotal h4 {
  width: 145px;
}

#backLink {
  margin: 10px;
}

#backLink a {
  color: #00aded;
}

#backLink a:hover {
  color: #00adedb8;
}


/******************************\\\\\\\\\\  TABLET  /////////******************************/


@media only screen and (min-width: 550px) {

  .billDueContainer{
    text-align: center;
  }

  .billingNames{
    display: inline-flex;
    width: 100%;
  }

  .makePaymentTo{
    width: 50%;
  }

  .billToContainer{
    width: 50%;
  }

}

/******************************\\\\\\\\\\  LARGE SCREEN  /////////******************************/


@media only screen and (min-width: 1050px) {

  .invoicePage{
    align-items: center;
  }

  .invoiceContain{
    width:1000px;
  }

}