.alertsPage {
    margin-top: 3vh;
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #363538;
    color: #00aded;
    font-family: "Source Sans Pro", sans-serif;
}