.messageDetailsPage {
  margin-top: 3vh;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00aded;
  background: #363538;
  font-family: "Source Sans Pro", sans-serif;
}

.messageIcon {
  text-align: center;
}

.messageDetailsReply {
  width: 100%;
  display: inline-flex;
}
.messageDetailsReply p {
  margin: 10px;
}

.messageDetailsReply p a {
  color: #00aded;
}

.messageDetailsReply p a:hover {
  color: #00adedb8;
}

.messageDetailsBox {
  border: 1px solid #00aded;
  border-radius: 9px;
  margin: 10px;
}

.messageDetailsBox h5,
.messageDetailsBox h4,
.messageDetailsBox p {
  margin-left: 5px;
}

/******************************\\\\\\\\\\  LARGE SCREEN  /////////******************************/
@media only screen and (min-width: 850px) {
  .detailsContainer {
    display: flex;
    justify-content: center;
  }

  .messageDetailsReply {
    margin: 0px 17px 0px 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: normal;
    width: 110px;
  }

  .messageDetailsBox {
    width: 740px;
  }

  .messageDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
