.messageDetailsPage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messageDetailsReply {
  display: inline-flex;
  justify-content: space-between;
  margin: 10px;
}

.messageDetailsReply p a:hover {
  color: brown;
}

.messageDetailsBox {
  border: 1px solid black;
  margin: 10px;
}
