.messageHistoryPage{
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.messageHistoryPage h1, #historyBack {
    text-align: center;
}

#historyBack a:hover{
    color: brown;
    cursor: pointer;
}

.historyContainer{
    text-align: left;
}

