.newMessagePage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00aded;
  background: #363538;
  font-family: 'Source Sans Pro', sans-serif;
}

#messageSubject {
  width: 90%;
}

#messageText {
  height: 300px;
  width: 90%;
}

.newMessage form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newMessagePage h1 {
  text-align: center;
}

#messageSubButton,
#messageDiscard {
  margin: 10px;
}

#messageDiscard a {
  text-decoration: none;
  color:  #00aded;
}

#messageSubButton{
  width: 120px;
  margin: 15px;
  border-radius: 2px;
  border: #00aded;
  font-size: 16px;
  font-weight: 600;
  background-color: #00aded;
  color: #363538;
  cursor: pointer;
}

#messageSubButton:hover {
  background-color:  #00adedb8;
  cursor: pointer;
}

#messageDiscard a:hover {
  color:  #00adedb8;
  cursor: pointer;
}

input[type="text"] {
  font-family: "Source Sans Pro", sans-serif;
}

textarea[type="text"] {
  font-family: "Source Sans Pro", sans-serif;
}