.accountPage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00aded;
  background: #363538;
  font-family: "Source Sans Pro", sans-serif;
}

.accountPage form {
  margin: 5px;
  width: 200px;
}

.accountPage form input {
  width: 100%;
}

.accountPassword h3,
.accountContact h3,
.accountAddress h3,
.accountIcon {
  text-align: center;
}

.accountContact,
.accountPassword,
.accountPropManager,
.accountAddress {
  border: 1px solid #00aded;
  border-radius: 9px;
  margin: 10px;
}

.accountContact h5,
.accountPropManager h3,
.accountPassword p {
  margin-left: 5px;
}

.accountPropManager p {
  margin: 10px;
}

.accountPropManager {
  display: inline-flex;
  align-items: center;
}

.contactInformation {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.contactCompanyName,
.contactAddress,
.contactPhone,
.contactEmail {
  display: flex;
  align-items: baseline;
}

.accountContact p {
  font-size: 15px;
  margin: 0;
}

.accountContact h5 {
  width: 90px;
}

#emailWarn {
  width: 330px;
  margin-left: 5px;
  font-size: 13px;
}

#updateContactButton,
#updatePasswordButton {
  width: 120px;
  margin: 10px 10px 10px 10px;
  border-radius: 2px;
  border: #00aded;
  font-size: 16px;
  font-weight: 600;
  background-color: #00aded;
  color: #363538;
  cursor: pointer;
}

#updateContactButton:hover {
  background-color: #00adedb8;
}

#updatePasswordButton:hover {
  background-color: #00adedb8;
}

/******************************\\\\\\\\\\  TABLET  /////////******************************/

@media only screen and (min-width: 550px) {
  .contactBlock,
  .passManager {
    display: inline-flex;
  }

  .accountContact,
  .accountAddress,
  .accountPassword,
  .accountPropManager {
    width: 50%;
  }

  .emailAlert {
    display: flex;
  }
}

/******************************\\\\\\\\\\  LARGE SCREEN  /////////******************************/
@media only screen and (min-width: 1350px) {
  .accountPage {
    align-items: center;
  }

  .accountContact,
  .accountAddress,
  .accountPassword,
  .accountPropManager {
    width: 650px;
  }
}
