header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
}

header h1 {
  margin-left: 10px;
}

header h1 a {
  text-decoration: none;
  color: black;
}

.menuItems {
  list-style-type: none;
  display: none;
  justify-content: space-evenly;
}

.menuItems.open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: -200px;
  border: 1px solid black;
  padding: 20px;
  background: white;
}

.menuItems li {
  margin: 10px 0;
}

.topNav {
  width: 100%;
}

.menuItems a {
  text-decoration: none;
  color: black;
}

.menuItems a:hover {
  color: brown;
}

.topNav {
  width: 100%;
  position: relative;
}

/*------------------  Hamburger Menu  ------------------*/

.hamburger {
  position: absolute;
  right: 10px;
  top: -20px;
  cursor: pointer;
  margin-right: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -7px);
}
