.comPage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #363538;
  color: #00aded;
  font-family: "Source Sans Pro", sans-serif;
}

.inboxIcon {
  text-align: center;
}

.comPageNav {
  display: inline-flex;
}

.comPageNavNo {
  display: inline-flex;
}

.sentNav p {
  margin: 10px;
}

#newCommLink,
#historyCommLink {
  margin: 10px;
}

#newCommLink a,
#historyCommLink a {
  text-decoration: none;
  color: #00aded;
}

#newCommLink a:hover {
  color: #00adedb8;
  cursor: pointer;
}

#historyCommLink a:hover {
  color: #00adedb8;
  cursor: pointer;
}

.noMessageContainer {
  display: flex;
  justify-content: center;
}

.messageBox p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hitItemContainer {
  width: 100%;
}

/******************************\\\\\\\\\\  LARGE SCREEN  /////////******************************/
@media only screen and (min-width: 855px) {
  .messagesContainer {
    justify-content: center;
  }

  .comPageLarge {
    display: flex;
    justify-content: center;
  }

  .comPageNav {
    margin: 0px 17px 0px 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  #newCommLink,
  #historyCommLink {
    text-align: left;
  }

  .noMessageContainer {
    text-align: center;
    width: 70%;
  }

  .noMessageContainer p{
    position: absolute;
    top: 56%;
    right: 46%;
  }

  .comPageNavNo {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
}
