.messageHistoryPage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00aded;
  background: #363538;
  font-family: "Source Sans Pro", sans-serif;
}

.messageHistoryPage h1,
#historyBack {
  text-align: center;
}

#historyBack a {
  color: #00aded;
}

#historyBack a:hover {
  color: #00adedb8;
  cursor: pointer;
}

.historyContainer {
  text-align: left;
}
