.messageHistoryPage {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #00aded;
  background: #363538;
  font-family: "Source Sans Pro", sans-serif;
}

.messageHistoryPage h1{
  text-align: center;
}

.sentNav{
  display: inline-flex;
}

.sentNav a {
  color: #00aded;
}

.sentNav a:hover {
  color: #00adedb8;
  cursor: pointer;
}

.historyContainer {
  text-align: left;
}

/******************************\\\\\\\\\\  LARGE SCREEN  /////////******************************/
@media only screen and (min-width: 855px) {

  .sentLarge {
    display: flex;
    justify-content: center;
  }

  .sentMessages{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sentNav{
    margin: 0px 17px 0px 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

}